:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu,
#menu::before,
#menu::after {
    transition: 200ms ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#container {
    padding: 30px;
    position: absolute;
    content: "";
}

#container:hover #menu {
    background-color: white;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}

#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}
